* {
	box-sizing: border-box;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

p {
	color: #777777;
	line-height: 1.5;
	font-size: 16px;
}

header {
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
	width: 100%;
	height: 100px;
	position: absolute;
}

.name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	color: white;
	background-color: #4aaaa5;
	padding: 32px;
	border: 1px;
	width: 400px;
	text-align: center;
	float: left;
	margin-left: 20px;
	position: absolute;
}

nav {
	float: left;
	width: 270px;
	text-align: center;
	margin-left: 690px;
	padding: 40px 0 40px 0;
	font-size: 20px;
	color: #777777;
}

a:link {
	text-decoration: none;
	color: #777777;
}

#content {
	background-color: #ffffff;
	border: 1px;
	border-color: #dddddd;
	width: 960px;
}

section {
	width: 650px;
	float: left;
	margin-left: 20px;
	margin-top: 150px;
	background-color: #ffffff;
	padding: 30px;
}

.interior_h1 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	padding: 10px 10px 10px 0;
}

#profile_image {
	float: left;
	margin-right: 20px;

}

aside {
	width: 270px;
	height: 200px;
	float: left;
	margin-top: 150px;
	margin-left: 20px;
	background-color: #ffffff;
	padding: 30px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 26px;
	color: #4aaaa5;
	text-align: center;
	padding: 7px;
}

.connect {
	padding: 15px;
	width: 220px;
}

.icons {
	height: 55px;
	width: 55px;
}

label {
	font-size: 22px;
	color: #777777;
	line-height: 2;
}

input {
	height: 30px;
	width: 600px;
}

textarea {
	height: 250px;
	width: 600px;
}

button {
	color: white;
	background-color: #4aaaa5;
	width: 125px;
	height: 40px;
	font-size: 22px;
	margin-top: 20px;
}

article {
	float: left;
	padding: 25px;
	position: relative;
}

.portfolio_images {
	height: 225px;
	width: 225px;
}

.portfolio_labels {
	text-align: center;
	width: 225px;
	padding: 25px;
	font-size: 21px;
	color: white;
	background-color: #4aaaa5;
	position: absolute;
	margin-top: 145px;
}

footer {
	clear: both;
	background-color: #666666;
	margin: auto;
	color: #ffffff;
	height: 100px;
	width: 100%;
	bottom: 0;
	border-top: 10px solid #4aaaa5;
}

.copyright {
	width: 400px;
	height: 18px;
	margin: auto;
	text-align: center;
	padding: 41px;
}